# Node modules and logs
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Frontend node_modules only (do not ignore build)
public/node_modules

# Git and IDE
.git
.github
.vscode
.idea

# Logs
logs
*.log

# Environment files
.env
.env.*

# Docker and config
Dockerfile
.dockerignore

dist
coverage
